# OS
Thumbs.db
desktop.ini

# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
env/
venv/

# Visual Studio Code
.vscode/

# Idea
.idea/

# Logs
*.log

# Angular
dist/
out-tsc/
.angular/

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini
.angular/cache/17.3.17/angular-webpack/f22627364804a4e5a9bf7e98bea4e68a366d03a0/0.pack
.angular/cache/17.3.17/angular-webpack/f22627364804a4e5a9bf7e98bea4e68a366d03a0/index.pack
.angular/cache/17.3.17/angular-webpack/f22627364804a4e5a9bf7e98bea4e68a366d03a0/index.pack
.angular/cache/17.3.17/angular-webpack/f22627364804a4e5a9bf7e98bea4e68a366d03a0/0.pack
.angular/cache/17.3.17/angular-webpack/f22627364804a4e5a9bf7e98bea4e68a366d03a0/index.pack
