<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/csharp">C#</a>
      <a mat-list-item routerLink="/dotnet8">.NET 8</a>
      <a mat-list-item routerLink="/angular">Angular</a>
      <a mat-list-item routerLink="/azure">Azure</a>
      <a mat-list-item routerLink="/ci-cd">CI/CD</a>
      <a mat-list-item routerLink="/system-design">System Design</a>
      <a mat-list-item routerLink="/dsa">Data Structures & Algorithms</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">InterU — Interview Prep</mat-toolbar>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
